<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    The Memory Game
  </h1>
  <h4>
    Click on a card to reveal the value, and then find its match...
  </h4>
</div>
<mat-grid-list cols="6" rowHeight="5:7" class="container">
  <mat-grid-tile class="card"
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows">

    <div class="flip">
      <div class="card" [ngClass]="{'flipped':tile.isFlipped}" (click)="select(tile)">
          <div class="face front">
            ?
          </div>
          <div class="face back">
            {{tile.text}}
          </div>
      </div>
    </div>

  </mat-grid-tile>
</mat-grid-list>

<!-- <pre>
Tiles: {{tiles | json}}
No cards {{fsm.is('noCards') | json}}
One card {{fsm.is('oneCard') | json}}
Two cards {{fsm.is('twoCards') | json}}
</pre> -->
