/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container {
  margin: 0 auto;
  max-width: 824px;
  padding-bottom: 0px !important;
}

body {
  font-family: 'Merriweather', serif;
}
